logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.idea
*.lock
build/Release
node_modules
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
private/*
demo/*
demo-simplest-download-button/*
demo-simplest-streaming/*
demo-simplest-upload/*
docs/*
.npm/*
.meteor/*