template(name="uploadRow")
  tr
    td.width-1.preview
      .progress-radial(class="progress-{{getProgressClass}}")
        .overlay(data-toggle-upload)
          if onPause.get
            span(title="Resume upload"): i.fa.fa-lg.fa-fw.fa-play
          else
            span.progress #{progress.get}%
            span.action(title="Pause upload"): i.fa.fa-lg.fa-fw.fa-pause
    td
      table.fixed-table: tbody: tr: td
        .file-name #{file.name}
        br
        .file-info
          span.file-size(title="File size") {{filesize file.size}}
          | &nbsp;
          | &middot;
          | &nbsp;
          span.file-estimate-duration(title="Upload in") #{estimateDuration}
          | &nbsp;
          | &middot;
          | &nbsp;
          span.file-estimate-bitrate(title="Upload speed") #{estimateBitrate}