template(name="_404")
  // response:status-code=404
  .col-50._404: .main-cell
    h3 Whoops... 404. Page not found
    p Page not found, this page may not ever exists or was removed
    a(href="/") Go to main page