template(name="_404")
  // response:status-code=404
  .panel.panel-danger
    .panel-heading: h3.panel-title Whoops... 404. Page not found
    .panel-body Page not found, this page may not ever exists or was removed