head
  meta(name="fragment" content="!")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  link(rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196")
  link(rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96")
  link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
  link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")
  link(rel="icon" type="image/png" href="favicon-128.png" sizes="128x128")
  meta(name="application-name" content="Meteor Files")
  meta(name="msapplication-TileColor" content="#FFFFFF")
  meta(name="msapplication-TileImage" content="mstile-144x144.png")
  meta(name="msapplication-square70x70logo" content="mstile-70x70.png")
  meta(name="msapplication-square150x150logo" content="mstile-150x150.png")
  meta(name="msapplication-wide310x150logo" content="mstile-310x150.png")
  meta(name="msapplication-square310x310logo" content="mstile-310x310.png")

  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta( name="robots" content="index, follow")
  meta(name="format-detection" content="telephone=no, date=no, address=no, email=no")
  meta(name="description" content="Meteor Files: Upload, Server and Manage files within Meteor application")
  title Meteor Files: Upload, Server and Manage files

template(name="_layout")
  a(href='https://github.com/VeliovGroup/Meteor-Files')
    img.gh-ribbon(src='https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67' alt='Fork me on GitHub' data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png')
  nav.navbar.navbar-default: .container-fluid
    .navbar-header.hidden-xs
      a.navbar-brand(href="/" title="Meteor Files")
        img(src="https://raw.githubusercontent.com/VeliovGroup/Meteor-Files/master/logo-bw.png" height="50" width="50" alt="Meteor Files")
    +uploadForm

  .container.full-height: .row: .col-md-12
    +yield

    hr

    p.center This is a demo application for <a href="https://github.com/VeliovGroup/Meteor-Files" target="_blank">Meteor-Files</a> package. With <a href="https://github.com/VeliovGroup/Meteor-Files" target="_blank">Meteor-Files</a> you can easily Upload, Download, Serve and Stream files within your Meteor application. 

  hr

  footer.container: .row: .col-md-12.center
    a(href="https://heroku.com/deploy?template=https://github.com/VeliovGroup/Meteor-Files-Demo" target="_blank")
      img.footer-img(src="https://camo.githubusercontent.com/83b0e95b38892b49184e07ad572c94c8038323fb/68747470733a2f2f7777772e6865726f6b7563646e2e636f6d2f6465706c6f792f627574746f6e2e737667" title="Deploy to Heroku in one click!" alt="Deploy to Heroku" data-canonical-src="https://www.herokucdn.com/deploy/button.svg")

    a(href="https://www.meteor.com/" target="_blank")
      img.footer-img(src="https://worldvectorlogo.com/logos/meteor-icon.svg" alt="Meteor.com" title="Powered by Meteor")


    h6 If you found this package useful, please do not hesitate to star it at both <a href="https://github.com/VeliovGroup/Meteor-Files">GitHub</a> and <a href="https://atmospherejs.com/ostrio/files">Atmosphere</a>. Also you may like to <a href="https://twitter.com/share?url=https://github.com/VeliovGroup/Meteor-Files&amp;text=File%20upload%20and%20delivery%20in%20Meteorjs%20-%20now%20it's%20easy!">Tweet</a> about it or share at <a href="https://www.facebook.com/sharer.php?u=https://github.com/VeliovGroup/Meteor-Files">Facebook</a>
    h6 Brought to you by <a href="https://ostr.io">ostr.io</a> and <a href="https://veliovgroup.com">Veliov Group</a>
    h6 2016 <a href="https://github.com/VeliovGroup/Meteor-Files">ostrio:files</a>