template(name="file")
  .panel.panel-default
    .panel-body.no-padding.center
        if isImage
          picture.file-preview
            source(type="{{type}}" srcset="{{fileURL .}}")
            img.file-preview(src="{{fileURL .}}" alt="{{name}}")
        else if isAudio
          audio.file-preview.file-audio(controls autoplay preload="auto" loop)
            source(src="{{fileURL .}}?play=true" type="{{type}}")
        else if isVideo
          video.file-preview(controls autoplay preload="auto" loop)
            source(src="{{fileURL .}}?play=true" type="{{type}}")
        else
          .alert.alert-info.no-margin.no-radius Preview is not available, please download file.
    .panel-heading: h3.panel-title.ellipsis {{extless name}}
    table.table.table-bordered.table-condensed(style="table-layout:fixed")
      thead
        tr
          th.ellipsis Name
          th.ellipsis Mime-type
          th.ellipsis Size
          th.ellipsis Extension
          th.ellipsis Downloads
      tbody
        tr
          td.text-center.scroll.scroll-x: span.label.label-default #{name}
          td.text-center.scroll.scroll-x: span.label.label-default #{type}
          td.text-center.scroll.scroll-x: span.label.label-default {{filesize size}}
          td.text-center.scroll.scroll-x
            if extension
              span.label.label-default .#{extension}
            else
              small.help-block.no-margin extension-less
          td.text-center.scroll.scroll-x: a.label.label-default(title="Download \"{{name}}\"" href="{{fileURL .}}?download=true"  target="_parent" download)
            i.fa.fa-download
            | #{meta.downloads}
    .panel-body
      a.btn.btn-default.btn-block(title="Download \"{{name}}\"" href="{{fileURL .}}?download=true" target="_parent" download): i.fa.fa-download