template(name="index")
  .panel.panel-default
    .panel-heading: h3.panel-title Recently uploaded files
    if latest.count
      .table-responsive: table.table.table-bordered.table-striped: tbody
        each latest
          tr
            td.center.width-1(class="{{#if isImage}}thumbnail40{{/if}}")
              if isAudio
                i.fa.fa-fw.fa-file-audio-o
              else if isVideo
                i.fa.fa-fw.fa-file-video-o
              else if isImage
                img(src="{{fileURL this 'thumbnail40'}}" alt="#{name}")
              else if isText
                i.fa.fa-fw.fa-file-text-o
              else if isJSON
                i.fa.fa-fw.fa-file-code-o
              else
                i.fa.fa-fw.fa-file-o
            td.ellipsis.width-270
              a(href="{{pathFor 'file' _id=_id}}") {{extless name}}
            td.text-right.ellipsis
              if extension
                span.label.label-default(title="Extension")
                  if isAudio
                    i.fa.fa-fw.fa-file-audio-o
                  else if isVideo
                    i.fa.fa-fw.fa-file-video-o
                  else if isImage
                    i.fa.fa-fw.fa-file-image-o
                  else if isText
                    i.fa.fa-fw.fa-file-text-o
                  else if isJSON
                    i.fa.fa-fw.fa-file-code-o
                  else
                    i.fa.fa-fw.fa-file-o
                  | #{extension}
                |  
              span.label.label-default(title="Size")
                i.fa.fa-fw.fa-hdd-o
                | {{filesize size}}
              |  
              span.label.label-default(title="Will be removed {{removedIn}}")
                i.fa.fa-fw.fa-history
                | #{removedIn}
              |  
              span.label.label-default(title="Downloads")
                i.fa.fa-fw.fa-download
                | #{meta.downloads}
    else
      .panel-body.center: .alert.alert-info Be the first to upload a file

    if compare filesLength '>' latest.count
      .panel-footer
        button.btn.btn-default.btn-block#loadMore(type="button" title="Show older files") Load More