template(name="index")
  .panel.panel-default
    .panel-heading: h3.panel-title Recently uploaded files
    if latest.count
      table.table.table-bordered(style="table-layout:fixed"): tbody
        each latest
          tr
            td: a.ellipsis(href="{{pathFor 'file' _id=_id}}") #{name}
            td.text-right
              span.ellipsis(color="#fafafa")
                span.label.label-default(title="Will be removed {{removedIn}}")
                  i.fa.fa-fw.fa-history
                  | {{removedIn}}
                |  
                span.label.label-default(title="Downloads")
                  i.fa.fa-download
                  | #{meta.downloads}
    else
      .panel-body.center: .alert.alert-info Be the first to upload a file

  if compare filesLength '>' latest.count
    .panel-footer
      button.btn.btn-default.btn-block#loadMore(type="button" title="Show older files") Load More