html, body, span, div, p, table, tr, button, video, audio
  animation: newElement 350ms ease-in-out 1

@keyframes newElement
  from
    opacity: 0
  to
    opacity: 1

.width-1
  width: 1%

.width-270
  max-width: 270px !important

.width-100
  max-width: 100px !important

.center
  text-align: center
  margin-right: auto
  margin-left: auto

.container
  padding-top: 15px
  max-width: 640px

.ellipsis
  white-space: nowrap
  overflow: hidden
  max-width: 100%
  text-overflow: ellipsis
  -o-text-overflow: ellipsis

td.thumbnail40
  padding: 0px !important
  img
    height: 36px
    width: 36px
    max-height: 36px
    max-width: 36px

.navbar-form
  min-height: 90px
  padding: 10px 15px
  border: none !important
  background-image: none
  &.file-over
    background:
      image: url(/dnd.png)
      repeat: no-repeat
      position: 50% 50%
      size: 80px 80px
    & > *
      visibility: hidden
      opacity: 0

.upload-form-container
  max-width: 80%
  margin: 0px auto
  @media (max-width: 767px)
    max-width: 100%

.scroll
  -webkit-overflow-scrolling: touch
.scroll-x
  overflow-y: hidden
  overflow-x: auto

button, input, select, textarea, .label
  user-select: none !important

button, select, input, button, form, textarea, a, pre, i
  outline: none !important
  &:active, &:focus, &:visited
    outline: none !important

pre, pre code
  white-space: pre
pre
  overflow: auto

th
  text-align: center
  vertical-align: middle
  word-break: break-word

.panel-title
  line-height: 1.5

.no-margin
  margin: 0px

.no-padding
  padding: 0px

.no-radius
  border-radius: 0px

.file-preview
  margin: 0 auto
  max-width: 100%
  &.file-audio
    margin: 25px 0px

.panel
  overflow: hidden

.navbar-brand
  position: absolute
  padding: 1px
  height: auto
  opacity: .555
  &:hover
    opacity: .777
  & > img
    height: 61px
    width: 61px

.full-height
  min-height: 100%
  min-height: 100vh

.navbar
  table
    width: 100%
  .progress
    min-width: 50vw
    height: 28px
    margin: 0px
  & > .container-fluid
    @media (max-width: 767px)
      padding: 0px

.gh-ribbon
  position: absolute
  top: 0
  right: 0
  border: 0
  z-index: 10
  height: 130px
  width: 130px
  opacity: .555
  &:hover
    opacity: .777
  @media (max-width: 767px)
    height: 85px
    width: 85px

.footer-img
  height: 32px
  width: auto
  border-radius: 5px
  margin: 5px
  opacity: .888
  &:hover
    opacity: 1

.table-responsive
  overflow-y: hidden