.container
  padding-top: 15px
  max-width: 640px

.ellipsis
  white-space: nowrap
  overflow: hidden
  max-width: 100%
  text-overflow: ellipsis
  -o-text-overflow: ellipsis

button, input, select, textarea, .label
  user-select: none !important

button, select, input, button, form, textarea, a, pre, i
  outline: none !important
  &:active, &:focus, &:visited
    outline: none !important

th
  text-align: center
  vertical-align: middle

.control-btns > *
  width: 50% !important
.panel-title
  line-height: 22px
.gh-ribbon
  position: absolute
  top: 0
  right: 0
  border: 0
  z-index: 10
  height: 130px
  width: 130px