template(name="uploadForm")
  form.navbar-form.center#uploadFile
    if error
      .alert.alert-danger {{error}}

    unless uploadInstance
      .input-group
        input.form-control.btn.btn-default(title="Select File" type="file" name="userfile" required multiple)
        span.input-group-btn
          button.btn.btn-primary(type="submit" title="Upload File")
            i.fa.fa-lg.fa-cloud-upload
            | Upload
      small.text-center.help-block Any file-type. With size less or equal to 128MB, up to 6 files
    else
      table.upload-form-container: tbody
        +each uploadInstance
          if compare state.get 'isnt' 'aborted'
            tr
              td
                .btn-group
                  if onPause.get
                    button#continue.btn.btn-default.btn-sm(type="button" title="Resume upload")
                      i.fa.fa-fw.fa-play
                  else
                    button#pause.btn.btn-default.btn-sm(type="button" title="Pause upload")
                      i.fa.fa-fw.fa-pause
                  button#abort.btn.btn-default.btn-sm(type="button" title="Abort upload")
                      i.fa.fa-fw.fa-stop
              td: .progress.center: .progress-bar.progress-bar-striped.active(aria-valuemin="0" aria-valuemax="100" style="width: {{progress.get}}%")
            tr: td.center(colspan="2"): small.text-center.help-block(style="margin-bottom:0px")
              b #{file.name}:
              | Remaining time: {{estimateDuration}} | Speed: {{estimateBitrate}}
        tr: td.center(colspan="2"): small.text-center.help-block(style="margin-bottom:0px") You are free to browse the site while upload in progress